* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: arial;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: orange;
}
h1 {
  text-align: center;
  background-color: grey;
  color: wheat;
}
h2 {
  background-color: honeydew;
}
main {
  margin: 0 auto;
}
img {
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
}
