.head {
    @include center-it;
    background-color: burlywood;
    width: 30rem;
    height: 20rem;
    @include loading;
    border-radius: 30%;
    div {
        width: 5rem;
        height: 5rem;
        background-color: coral;
        margin: 2px;
        color: white;
        box-shadow: white 1px 1px 1px 1px;
        
        border-radius: 50%;
        @include move-it;
        @include center-it;
    }
    
}