// center vertically and horizontally
@mixin center-it {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@mixin move-it {
  animation: scale 3s alternate infinite;
}
@keyframes scale {
  0% {
    transform: scaleX(0);
  }
  0% {
    transform: scaleX(50%);
  }
  0% {
    transform: scaleX(100%);
  }
}
@mixin loading {
  animation: scale-it 5s alternate infinite;
}
@keyframes scale-it {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(50%);
  }
  0% {
    transform: scaleY(100%);
  }
}
