* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color:lightyellow ;
}
h2 {
    text-align: center;
}
main {
    text-align: center;
    padding: 10px;
}
.result {
    padding-top: 15px;
    line-height: 30px;
    font-size: large;
}