$items-count:30; 
@keyframes move {
    0% {
        transform: scaleY(0.8);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1.4);
    }
}
@mixin  add-move-animation ($duration) {
    animation-name: move;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    
}
body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}
.items-container {
    display: grid;
    grid-template-columns: repeat($items-count,1fr);
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    position: relative;
    
}


@for $i from 1 through $items-count {
    .item:nth-child(#{$i}){
        background:linear-gradient(to bottom left ,lighten (green ,random(40)),
        rgba(darken(green,random(10)), 1));

        height: random(35)+5+vh;
        width: random(2)+5+vw;
        border-radius:((random(30)+px)) 0 ((random(30)+px)) 0 ((random(30)+px))  ;
        transform: scaleX(1);
        @if (($i % 2) != 0) {
            border-radius: ((random(40) + 10 + px)) 0 ((random(20) + 10 + px)) 0;
            background: linear-gradient(
              to top right,
              lighten(gray, random(40)),
              rgba(darken(gray, random(10)), 1)
            );
          }
      
        @include add-move-animation(random(5) + 1 + s);
    }
    }
    .item:nth-child(odd) {
        align-self: end;
        transform-origin: 0 100%;
      }