$items-count:30; 
@keyframes move {
    0% {
        transform: scaleY(0.8);
    }
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1.4);
    }
}
@mixin  add-move-animation ($duration) {
    animation-name: move;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    
}
body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}
.items-container {
    display: grid;
    grid-template-columns: repeat($items-count,1fr);
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    position: relative;
    
}


@for $i from 1 through $items-count {
    .item:nth-child(#{$i}){
        background: linear-gradient(
            to top right,
            
            lighten(red, random(40)),
            rgba(darken(gray, random(10)), 1)
            
          );
       border: 1px white solid;

        height: random(50)+10+vh;
        width: random(2)+1+vw;
        border-radius: 0 0((random(20)+px)) ((random(30)+px))  ;
        transform:0 0;
        @if (($i % 2) != 0) {
            border-radius: ((random(40) + 10 + px)) 0 ((random(20) + 10 + px)) 0;
            height: random(60)+10+vh;
            background: linear-gradient(
              to top right,
              
              lighten(green, random(40)),
              rgba(darken(gray, random(10)), 1)
              
            );
          }
      
        @include add-move-animation(random(5) + 1 + s);
    }
    }
    .item:nth-child(odd) {
        align-self: end;
        transform-origin: 0 100%;
      }
     