table {
    background-color: white;
    margin: 3rem auto;
}
td {
    border: black 1px solid;
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
}
tr:nth-child(1) :nth-child(2n) ,tr:nth-child(2) :nth-child(2n+1),tr:nth-child(3) :nth-child(2n),tr:nth-child(4) :nth-child(2n+1),tr:nth-child(5) :nth-child(2n),tr:nth-child(6) :nth-child(2n+1),tr:nth-child(7) :nth-child(2n),tr:nth-child(8) :nth-child(2n+1){
    background-color: black;
}