<h2>{{title}}</h2>
<h1>{{data}}</h1>
<a href="/hbs">home page</a>
<form action="/submit" method="POST">
  <label for="authorName">authorName:
    <input type="text" name="authorName" id="authorName" /></label>

  <label for="books">books:
    <input type="text" name="books" id="books" />
  </label>
  <label for="language">language:
    <input type="text" name="language" id="language" /></label>

  <label for="submit">language:
    <input type="submit" value="send" id="submit" />
  </label>
</form>