* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

#root {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .header {
    width: 100vw;
    padding: 50px;
    
    text-align: center;
  }
  .container {
    height: 50vh;
    width: 70%;
    
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px purple;
    background: linear-gradient(190deg,#9b59b6, #71b7e6);
  }
  .footer {
    width: 100vw;

    position: absolute;
    bottom: 4px;
    text-align: center;
  }
  input[type="text"] {
    background-color: rgb(216, 230, 216);
    appearance: none;
    font-size: large;
    padding: 3px;
    margin-right: 4px;
    box-shadow: 1px 1px 1px white;
    
  }
  input[type="submit"] {
    font-size: large;
    padding: 3px;
  }
}
