<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{{title}}</title>
    <style>
      body{ background-color:yellowgreen; padding:5px; text-align: center;
      font-size:16px; }
    </style>
  </head>
  <body>
    <div>{{{body}}}</div>
    <link rel="shortcut icon" href="#" />
  </body>
</html>