<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>{{title}}</title>
    <style>
      form{height:60vh; width:100vw; background-color:rgb(148, 101, 101);
      padding:5px; text-align: center; font-size:15px; } .book{  border: 1px solid wheat; display:flex; align-items:center;justify-content:center; margin: 20px 0px; }
    </style>
  </head>
  <body>
    <div>{{{body}}}</div>
    <link rel="shortcut icon" href="#" />
  </body>
</html>