body {
  background: linear-gradient(120deg, lightblue, darkblue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  img {
    width: 200px;
    height: 150px;
    border-radius: 15px;
  }
}
.box {
  display: flex;
  flex-direction: row;
  width: 65vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 15px;
  padding:0px 10px;
}
.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px gray;
  color: white;
  display: block;
  height: 10vh;
}
.likeAndCo {
  font-weight: bold;
  font-family: monospace;
  color: wheat;
}
.likeAndCo i {
    font-size: x-large;
    color: red;
}
